<div class="container">
    <div class="list-group">
        <h2 class="page-header">Latest questions</h2>
        <div *ngFor="let question of questions" class="list-group-item flex-column align-items-start">
            <div class="d-flex w-100 justify-content-between">
                <a [routerLink]="['/question', question._id]" class="mb-1 link-primary">{{question.title}}</a>
                <small>
                    {{this.datepipe.transform(question.createdDate, 'yyyy-MM-dd')}}
                </small>
            </div>
            <small>Author: {{question.author}}</small>
        </div>
    </div>
</div>
