<div class="container mt-5">
    <h2 class="page-header">Register</h2>
    <form (submit)="onRegisterSubmit() " novalidate >
      <div class="form-group mb-3">
        <label for="name">Name</label>
        <input type="text" [(ngModel)]="name" name="name" class="form-control" id="name" placeholder="Enter Name">
      </div>
      <div class="form-group mb-3">
        <label for="email">Email</label>
        <input type="email" [(ngModel)]="email" name="email" class="form-control" id="email" aria-describedby="emailHelp" spellcheck="false" placeholder="Enter Email">
        <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
      </div>
      <div class="form-group mb-3">
        <label for="password">Password</label>
        <input type="password" [(ngModel)]="password" name="password" class="form-control" id="password" placeholder=" Enter Password">
      </div>
      <input type="submit" class="btn btn-primary" value="Submit">
    </form>
</div>