<div *ngIf="question" class="container mt-5">
    <div class="card mb-4">
        <div class="card-header d-flex w-100 justify-content-between">
          <h5 class="page-header">{{question.post.title}}</h5>
          <div class="px-4">
            <small class="row">Author: {{question.post.author}}</small>
            <small class="row">Created at: {{this.datepipe.transform(question.post.createdDate, 'yyyy-MM-dd')}}</small>
          </div>
        </div>
        <div class="card-body">
          <p>{{question.post.body}}</p>
        </div>
    </div>
    <div *ngIf="question.comments.length; else noComments" class="list-group">
      <h4>Comments:</h4>
      <div *ngFor="let comment of question.comments" class="list-group-item flex-column align-items-start">
        <app-comment-detail [comment]="comment"></app-comment-detail>
      </div>
    </div>
    <ng-template #noComments>
      <div class="list-group mb-4">
        <div class="list-group-item flex-column align-items-start">
          <strong>No comments yet</strong>
        </div>
      </div>
    </ng-template>

    <app-comment-form [questionId]="question.post._id"></app-comment-form>
</div>