<div *ngIf="loggedIn(); else notLoggedIn" class="card m-5">
    <div class="card-header d-flex w-100 justify-content-between">
        <h4>Your comment</h4>
    </div>
    <div class="card-body">
        <form novalidate (submit)="onCommentSubmit()">
            <div *ngIf="!preview" class="form-group mb-3">
              <label for="exampleFormControlTextarea1">Comment body</label>
              <textarea [(ngModel)]="body" class="form-control" id="exampleFormControlTextarea1" rows="6" name="body"></textarea>
            </div>
            <div *ngIf="preview" class="form-group mb-3">
                <ng-katex-paragraph [paragraph]="body"></ng-katex-paragraph>
            </div>
            <input class="btn btn-primary mx-2" type="submit" value="Submit">
            <button *ngIf="!preview" class="btn btn-success" (click)="preview = !preview">Preview</button>
            <button *ngIf="preview" class="btn btn-success" (click)="preview = !preview">Edit</button>
        </form>
    </div>
</div>
<ng-template #notLoggedIn> 
    <div class="my-4">
        <p class="text-center">You must be logged in to be able to comment</p> 
    </div>
</ng-template>